<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Link to the main stylesheet in the static folder -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <!-- Placeholder for page-specific head content -->
    {% block head %}{% endblock %}
  </head>
  <body>
    <!-- Placeholder for page-specific body content -->
    {% block body %}{% endblock %}
  </body>
</html>
