{% extends 'base.html' %}

<!-- Block for additional head content specific to this page -->
{% block head %}
<title>Task Master</title>
{% endblock %}

<!-- Block for body content -->
{% block body %}
<div class="content">
  <!-- Page title centered -->
  <h1 style="text-align: center">Task Master</h1>

  <!-- Conditional message if there are no tasks -->
  {% if tasks|length < 1 %}
  <h4 style="text-align: center">There are no tasks. Create one below.</h4>

  {% else %}
  <!-- Table of tasks -->
  <table>
    <tr>
      <th>Task</th>
      <!-- Column header for task content -->
      <th>Added</th>
      <!-- Column header for creation date -->
      <th>Actions</th>
      <!-- Column header for actions -->
    </tr>

    <!-- Loop through each task and create a row -->
    {% for task in tasks %}
    <tr>
      <td>{{ task.content }}</td>
      <!-- Task content -->
      <td>{{ task.date_created.date() }}</td>
      <!-- Date task was created -->
      <td>
        <a href="/delete/{{task.id}}">Delete</a>
        <!-- Link to delete task -->
        <br />
        <a href="/update/{{task.id}}">Update</a>
        <!-- Link to update task -->
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <!-- Form to add a new task -->
  <form action="/" method="POST">
    <input
      type="text"
      name="content"
      id="content"
      placeholder="Enter a new task"
    />
    <input type="submit" value="Add Task" />
  </form>
</div>
{% endblock %}
